<!DOCTYPE html>
<html>
    <head>
        <title> World from HBS</title>
    </head>
    <body>
        {{#each g}}
            <h3>{{this.name}}</h3>
            <p>
                {{this.description}}
            </p>
            <hr>
        {{/each}}

    </body>
</html>
